body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
  background: #fff;
}

button {
  background: none;
  outline: none;
  padding: 0px;
  border: none;
}

.open-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 80px;
  height: 80px;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
  background: #666;
  overflow: hidden;
  opacity: 0.8;
}

.open-btn span {
  display: block;
  font-size: 65px;
  margin-right: -37px;
  color: #60c3e1;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.open-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.look-hint {
  width: 350px;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: center;
  position: fixed;
  top: calc(50% - 25px);
  left: calc(50% - 175px);
  font-size: 30px;
  font-weight: 500;
  color: #666;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 30;
}

.look-hint-hide {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -1;
}

main {
  -webkit-perspective: 3000px;
          perspective: 3000px;
  height: 100vh;
  overflow: hidden;
}

.pages-section {
  position: relative;
  width: 300%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateX(-33.3333333333%) translateY(0%);
          transform: translateX(-33.3333333333%) translateY(0%);
  will-change: transform;
  -webkit-transform-origin: 50% 17%;
          transform-origin: 50% 17%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  color: #fff;
}

.hint {
  position: absolute;
  text-align: center;
  font-family: sans-serif;
  color: #60c3e1;
}

.welcome-hint {
  top: -15%;
  width: 100%;
  font-size: 150px;
}

.click-hint {
  top: calc(50% - 50px);
  left: -1000px;
  font-size: 100px;
}

.adaptive-design-hint {
  top: calc(50% - 50px);
  font-size: 100px;
  right: -900px;
}

.pages-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.7vw 1fr 1.7vw 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.7vw;
  overflow: hidden;
  z-index: 3;
}
.pages-container .page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pages-active .page {
  background: #f0f0f0;
}
.pages-active .selected-page {
  background: #ddd;
}
.pages-active .active-page {
  background: #ddd;
}